* {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Fonts */
.fs-7 {
    font-size: 0.9rem;
}

.fs-8 {
    font-size: 0.8rem;
}

.letter-spacing-1 {
    letter-spacing: .1em;
}

.letter-spacing-2 {
    letter-spacing: .2em;
}
/* End Fonts */