# Bloquear acesso direto ao arquivo .env
<Files ".env">
    Order allow,deny
    Deny from all
</Files>

# Bloquear acesso direto ao arquivo .env
<Files "console.php">
    Order allow,deny
    Deny from all
</Files>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ index.php?url=$1 [QSA]